.about {
  padding: 5em 0;
}

.about__contents {
  text-align: center;
}

@media (min-width: 48em) {
  .about__contents {
    max-width: 70%;
    margin: 0 auto;
  }
}

@media (min-width: 55em) {
  .about__contents {
    max-width: initial;
    text-align: left;
  }
}

.about__intro {
  margin-bottom: 4rem;
}

@media (min-width: 55em) {
  .about__intro {
    max-width: 60%;
  }
}

.article + .article {
  margin-top: 2rem;
}

@media (min-width: 55em) {
  .services {
    display: flex;
    justify-content: space-between;
  }

  .article {
    flex-basis: calc(25% - 1rem);
  }

  .article + .article {
    margin-top: 0;
  }

  .article > * + * {
    margin-top: 1rem;
  }
}
